<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |list| %>
      <li class="list-group-item">
          <img src='<%= list.movie.poster_url %>' width="128" height="128">
          <%= list.movie.title %>


      </li>
  <% end  %>
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %> |
<%= link_to 'Add Bookmarks', new_list_bookmark_path(@list) %>
<%= link_to 'delete', list_path(@list),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
